/***************** REGISTER STYLES START ********************/
.register {
    padding-top: 96px;

    &__text--title {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: var(--colorTextPrimary);
    }

    &__text--desc {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 21px;
        color: var(--colorTextPrimary);
        opacity: 0.8;
    }

    &__form {
        padding: 88px 110px;
        width: 100%;
        background-color: var(--colorPrimary);
        border-radius: 4px;
    }

    &__form-select {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 10px;
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
        &:focus {
            border-color: var(--colorSecondary);
            outline-color: var(--colorSecondary);
        }
    }
}
/***************** REGISTER STYLES END ********************/
