.button {
    background-color: var(--colorSecondary);
    color: var(--colorPrimary);
    padding: 13px 36px;
    border: none;
    border-radius: 4px;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
}
