.input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    &:focus {
        border-color: var(--colorSecondary);
        outline-color: var(--colorSecondary);
    }
}
